<% title "Giveaway" %>


<div class="bg-indigo-600">
  <div class="pt-12 sm:pt-16 lg:pt-20">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl lg:text-5xl">
          Vibe Wars GAWDS Giveaway
        </h2>
      </div>
    </div>
  </div>
  <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-indigo-600"></div>
      <div class="relative max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
          <div class="flex-1 bg-white px-6 py-8 lg:p-12">
            <a class="e-widget no-button generic-loader" href="https://gleam.io/Mngtb/vibe-wars-gawds-giveaway" rel="nofollow">Vibe Wars GAWDS Giveaway</a>
            <script type="text/javascript" src="https://widget.gleamjs.io/e.js" async="true"></script>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>