<% title "Leaderboard" %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900">Leaderboard</h1>
  </div>
</header>

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-4 sm:px-0">
      <div class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center">
        
        <h2 class="text-3xl font-bold text-gray-900">Leaderboards are coming soon!</h2>
        <p class="mt-2 block text-lg font-medium text-gray-900">
          Connect your wallet (green button in the upper right), and we'll go ahead and start tracking your votes!
        </p>
      </div>
    </div>
  </div>
</main>