<% title "Submit Your NFT Project" %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900">Submit Your Project</h1>
  </div>
</header>

<main>
  <div class="max-w-5xl mx-auto py-2 sm:px-6 lg:px-8">
    <div class="sm:px-0">
      <div class="relative block w-full rounded-lg p-12 text-center">
        <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrgVynCHdF1zGSHz?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="1898" style="background: transparent; border: 0;"></iframe>
      </div>
    </div>
  </div>
</main>