@tailwind base;
@tailwind components;
@tailwind utilities;

.voted {
  z-index: 1000;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 50;
}

.max-w-xxs {
  max-width: 12rem;
}